.popup__container {
    margin: 0;
    padding: 34px 36px 37px;
    width: 430px;
    box-sizing: border-box;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
    border-radius: 10px;
}

@media all and (max-width: 767px) {
    .popup__container {
        padding: 25px 22px;
        width: 282px;
    }
}
